

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button { 
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
		border: solid 2px #ffffff;
	}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			border: 0;
		} 

/* Features */

	.features article {
		-ms-behavior: url("assets/js/ie/PIE.htc");
		position: relative;
		width: 44%; 
	}

		.features article .image {
			margin-top: 0;
			margin-left: 0;
			width: 100%;
		}

/* Menu */

	#menu {
		background: #3f51b5; 
	}

		#menu h2 {
			border-bottom: solid 2px #0059bc;
		}

/* Header */

	#header {
		background-color: blueviolet;
	}

/* Wrapper */

	.wrapper {
		margin: 0;
	}

		.wrapper:before, .wrapper:after {
			display: none;
		}

		.wrapper.spotlight .image {
			-ms-behavior: url("assets/js/ie/PIE.htc");
		}

			.wrapper.spotlight .image img {
				position: relative;
				-ms-behavior: url("assets/js/ie/PIE.htc");
			}

/* Banner */

	#banner .logo .icon {
		border: solid 2px blueviolet;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

	#banner h2 {
		border-bottom: solid 2px #3f51b5;
	}

/* Footer */

	#footer .inner .copyright {
		border-top: solid 2px #3f51b5;
	}

		#footer .inner .copyright li {
			border-left: solid 2px #3f51b5;
		}
                
                
          