

/* Features */

	.features article {
		display: inline-block;
		width: 45%;
	}

/* Menu */

	#menu .inner {
		margin: 4em auto;
	}  

/* Footer */

	#footer {
		background: none !important;
	}

		#footer .inner form {
			display: inline-block;
			width: 45%;
		}

		#footer .inner .contact {
			display: inline-block;
			width: 45%;
		}