
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}   

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 640px) {

    html, body {
        min-width: 320px;
    }

}

body {
 background-color: chartreuse;
 background-size: 100% !important;
 
}  


/* Type */

body, input, select, textarea {
    color: magenta; 
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16.5pt;
    font-weight: 300;
    line-height: 1.65;
}


a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
    color: lightcoral !important; 
    text-decoration: none;
} 

a:hover {
    border-bottom-color: lightcoral;
    color: lightblue !important;
}

a.special:not(.button) {
    text-decoration:  none;
    border-bottom: 0;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 2em 0;
    text-transform: uppercase;
}

a.special:not(.button):before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

a.special:not(.button):before {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    content: '\f105';
    display: inline-block;
    font-size: 1.25em;
    height: 2em;
    line-height: 1.65em;
    margin-right: 0.85em;
    text-align: center;
    text-indent: 0.15em;
    vertical-align: middle;
    width: 2em;
}

a.special:not(.button):hover:before {
    background-color: rgba(255, 255, 255, 0.025);
}

a.special:not(.button):active:before {
    background-color: rgba(255, 255, 255, 0.075);
}

strong, b {
    color: #ffffff;
    font-weight: 600;
}

em, i {
    font-style: italic;
} 

h1, h2, h3, h4, h5, h6 {
    color: magenta;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-weight: 200;
}

h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 0.9em;
}

h4 {
    font-size: 0.7em;
}

h5 {
    font-size: 0.7em;
}

h6 {
    font-size: 0.7em;
} 

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    margin: 2.5em 0;
}

hr.major {
    margin: 4em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
} 

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
} 

/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px rgba(255, 255, 255, 0.125);
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 1.25em;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li > * {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

@media screen and (max-width: 640px) {

    ul.actions {
        margin: 0 0 2em 0;
    }

    ul.actions li {
        padding: 1em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }

    ul.actions li:first-child {
        padding-top: 0;
    }

    ul.actions li > * {
        width: 100%;
        margin: 0 !important;
    }

    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }

    ul.actions.small li:first-child {
        padding-top: 0;
    }

}

ul.contact {
    list-style: none;
    padding: 0;
}

ul.contact li {
    text-decoration: none;
    margin: 2.5em 0 0 0;
    padding: 0 0 0 3.25em;
    position: relative;
}

ul.contact li:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.contact li:before {
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    display: inline-block;
    font-size: 0.8em;
    height: 2.5em;
    left: 0;
    line-height: 2.35em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.5em;
}

ul.contact li:first-child {
    margin-top: 0;
}

@media screen and (max-width: 736px) {

    ul.contact li {
        margin: 1.5em 0 0 0;
    }

}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 600;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
} 

/* Button */


input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    color: #00b0ff;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.75em;
    letter-spacing: 0.1em;
    line-height: 3.75em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: rgba(255, 255, 255, 0.075);
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
    color: rgba(255, 255, 255, 0.35);
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    background-color: #4c5c96;
    box-shadow: none;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
    background-color: #53639e;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
    background-color: #45558d;
}

input[type="submit"].special.icon:before,
input[type="reset"].special.icon:before,
input[type="button"].special.icon:before,
button.special.icon:before,
.button.special.icon:before {
    color: #7884b0;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.6em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
    font-size: 1em;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    opacity: 0.25;
}

@media screen and (max-width: 640px) {

    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        padding: 0;
    }

}

/* Features */

.features {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 2em 0;
}

.features article {
    padding: 1.75em 1.75em 0.1em 1.75em ;
    background-color: #353849;
    border-radius: 5px;
    margin: 1.5em 3em 1.5em 0;
    width: calc(50% - 1.5em);
}

.features article:nth-child(2n) {
    margin-right: 0;
}

.features article .image {
    border-radius: 5px 5px 0 0;
    display: block;
    margin-bottom: 1.75em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    position: relative;
    width: calc(100% + 3.5em);
}

.features article .image img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

@media screen and (max-width: 980px) {

    .features article {
        margin: 1em 2em 1em 0;
        width: calc(50% - 1em);
    }

}

@media screen and (max-width: 736px) {

    .features article {
        padding: 1.5em 1.5em 0.1em 1.5em ;
        margin: 0.875em 1.75em 0.875em 0;
        width: calc(50% - 0.875em - 1px);
    }

    .features article .image {
        margin-bottom: 1.5em;
        margin-left: -1.5em;
        margin-top: -1.5em;
        width: calc(100% + 3em);
    }

}

@media screen and (max-width: 640px) {

    .features {
        display: block;
    }

    .features article {
        width: 100%;
        margin: 0 0 2em 0 !important;
    }

}

/* Header */

#header {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(53, 56, 73, 0.95);
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    padding: 0 1.25em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header h1 {
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s;
    -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s;
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
    border-bottom: 0;
    font-size: 0.8em;
    margin-bottom: 0;
    opacity: 1;
    visibility: visible;
}

#header h1 a {
    border: 0;
}

#header nav {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 3em;
    letter-spacing: 0.1em;
    line-height: 3em;
    position: absolute;
    right: 0.7em;
    text-transform: uppercase;
    top: 0.7em;
}

#header nav a {
    border: 0;
    display: inline-block;
    padding: 0 1em;
}

#header nav a:before {
    float: right;
    margin-left: 0.75em;
}

#header nav a[href="#menu"] {
    text-decoration: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    padding: 0 1.35em;
}

#header nav a[href="#menu"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#header nav a[href="#menu"]:before {
    content: '\f0c9';
}

#header nav a[href="#menu"]:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

#header nav a[href="#menu"]:active {
    background-color: rgba(255, 255, 255, 0.075);
}

#header.alt {
    background-color: #ffffff;
}

#header.alt h1 {
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 736px) {

    #header {
        height: 2.75em;
        line-height: 2.75em;
    }

    #header nav {
        top: 0;
        right: 0;
        height: inherit;
        line-height: inherit;
    }

    #header nav a {
        height: inherit;
        line-height: inherit;
    }

    #header nav a[href="#menu"] {
        box-shadow: none;
        padding: 0 1em;
        border-radius: 0;
    }

    #header nav a[href="#menu"]:hover, #header nav a[href="#menu"]:active {
        background-color: inherit;
    }

}

@media screen and (max-width: 640px) {

    #header nav a[href="#menu"] {
        width: 4em;
        white-space: nowrap;
        text-indent: 4em;
        position: relative;
    }

    #header nav a[href="#menu"]:before {
        width: inherit;
        position: absolute;
        top: 0;
        left: 0;
        text-indent: 0;
        text-align: right;
        margin-left: 0;
        padding-right: 1.25em;
    }

}

/* Menu */
/**
#page-wrapper {
    -moz-transition: -moz-filter 0.25s ease;
    -webkit-transition: -webkit-filter 0.25s ease;
    -ms-transition: -ms-filter 0.25s ease;
    transition: filter 0.25s ease;
}

#menu {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 0.35s ease, visibility 0.35s;
    -webkit-transition: opacity 0.35s ease, visibility 0.35s;
    -ms-transition: opacity 0.35s ease, visibility 0.35s;
    transition: opacity 0.35s ease, visibility 0.35s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(46, 49, 65, 0.8);
    cursor: default;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
}

#menu .inner {
    padding: 2.5em 1.5em 0.5em 1.5em ;
    -moz-transform: translateY(0.5em);
    -webkit-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    transform: translateY(0.5em);
    -moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
    -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
    -ms-transition: opacity 0.35s ease, -ms-transform 0.35s ease;
    transition: opacity 0.35s ease, transform 0.35s ease;
    -webkit-overflow-scrolling: touch;
    background: #4c5c96;
    border-radius: 5px;
    display: block;
    max-width: 100%;
    opacity: 0;
    position: relative;
    width: 18em;
}

#menu h2 {
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    padding-bottom: 1em;
}

#menu .close {
    background-image: url("images/close.svg");
    background-position: 75% 25%;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    border: 0;
    content: '';
    display: block;
    height: 4em;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    text-indent: 4em;
    top: 0;
    width: 4em;
}

#menu .links {
    list-style: none;
    margin-bottom: 1.5em;
    padding: 0;
}

#menu .links li {
    padding: 0;
}

#menu .links li a {
    border-radius: 5px;
    border: 0;
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 1.85em;
    padding: 0.75em 0;
    text-transform: uppercase;
}

#menu .links li a:hover {
    background: #45558d;
}

@media screen and (max-width: 736px) {

    #menu .inner {
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #menu .inner .close {
        background-size: 1.5em 1.5em;
    }

}

body.is-menu-visible #page-wrapper {
    -moz-filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    -ms-filter: blur(1.5px);
    filter: blur(1.5px);
}

body.is-menu-visible #menu {
    -moz-pointer-events: auto;
    -webkit-pointer-events: auto;
    -ms-pointer-events: auto;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

body.is-menu-visible #menu .inner {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/* Banner */

#banner {
    padding: 10em 0 4.75em 0 ;
}

#banner .inner {
    margin: 0 auto;
    width: 55em;
}

#banner .logo {
    -moz-transition: opacity 2s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 2s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 2s ease, -ms-transform 1s ease;
    transition: opacity 2s ease, transform 1s ease;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    margin: 0 0 1.3em 0;
}

#banner .logo .icon {
    border-radius: 100%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    cursor: default;
    display: inline-block;
    font-size: 2em;
    height: 2.25em;
    line-height: 2.25em;
    text-align: center;
    width: 2.25em;
}

#banner h2 {
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -ms-transition-delay: 0.65s;
    transition-delay: 0.65s;
    -moz-filter: blur(0);
    -webkit-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 2.25em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
}

#banner p {
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -moz-filter: blur(0);
    -webkit-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 2;
    text-transform: uppercase;
}

@media screen and (max-width: 1280px) {

    #banner {
        padding: 7em 0 8.25em 0 ;
        background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/bg.jpg");
        background-position: center, center;
        margin-bottom: -6.5em;
    }

}

@media screen and (max-width: 980px) {

    #banner {
        padding: 12em 3em 12.375em 3em ;
        margin-bottom: -4.75em;
    }

    #banner .inner {
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    #banner {
        padding: 5em 2em 4.25em 2em ;
        margin-bottom: -2.5em;
    }

    #banner .logo {
        margin: 0 0 1em 0;
    }

    #banner .logo .icon {
        font-size: 1.5em;
    }

    #banner h2 {
        font-size: 1.5em;
    }

    #banner p {
        font-size: 0.8em;
    }

}

body.is-loading #banner .logo {
    -moz-transform: translateY(0.5em);
    -webkit-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    transform: translateY(0.5em);
    opacity: 0;
}

body.is-loading #banner h2 {
    opacity: 0;
    -moz-transform: translateX(0.25em);
    -webkit-transform: translateX(0.25em);
    -ms-transform: translateX(0.25em);
    transform: translateX(0.25em);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

body.is-loading #banner p {
    opacity: 0;
    -moz-transform: translateX(0.5em);
    -webkit-transform: translateX(0.5em);
    -ms-transform: translateX(0.5em);
    transform: translateX(0.5em);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/* Wrapper */

#wrapper > header {
    padding: 11em 0 2.25em 0 ;
}

#wrapper > header .inner {
    margin: 0 auto;
    width: 55em;
}

#wrapper > header h2 {
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 2em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
}

#wrapper > header p {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 2;
    text-transform: uppercase;
}

@media screen and (max-width: 1280px) {

    #wrapper > header {
        padding: 9em 0 6.25em 0 ;
        background-position: center, 0% 30%;
        margin-bottom: -6.5em;
    }

}

@media screen and (max-width: 980px) {

    #wrapper > header {
        padding: 11em 3em 7.375em 3em ;
        background-position: center, 0% 0%;
        margin-bottom: -4.75em;
    }

    #wrapper > header .inner {
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    #wrapper > header {
        padding: 6.5em 2em 3em 2em ;
        background-size: auto, 125%;
        margin-bottom: -2.5em;
    }

    #wrapper > header h2 {
        font-size: 1.25em;
    }

    #wrapper > header p {
        font-size: 0.8em;
    }

}

.wrapper {
    background-color: transparent; 
    margin: 6.5em 0;
    position: relative;
}

.wrapper:before {
    left: 0;
    top: -6.5em;
} 

.wrapper:after {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    bottom: -6.5em;
    left: 0;
}

.wrapper.alt:before {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.wrapper.alt:after {
    -moz-transform: scaleY(-1) scaleX(-1);
    -webkit-transform: scaleY(-1) scaleX(-1);
    -ms-transform: scaleY(-1) scaleX(-1);
    transform: scaleY(-1) scaleX(-1);
}

.wrapper .inner {
    padding: 3em 0 1em 0 ;
    margin: 0 auto;
    width: 55em;

} 

.wrapper.spotlight .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;


}

.wrapper.spotlight .image {
    border-radius: 100%;
    margin: 0 3em 2em 0;
    width: 22em;
    overflow: hidden;
    -ms-flex: 1;
}

.wrapper.spotlight .image img {
    border-radius: 100%;
    width: 100%;
}

.wrapper.spotlight .content {
    width: 100%;
    -ms-flex: 2;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right;
}


@media screen and (max-width: 980px) {

    .wrapper {
        margin: 4.75em 0;
    }

    .wrapper:before, .wrapper:after {
        height: 4.75em;
    }

    .wrapper:before {
        top: -4.75em;
    }

    .wrapper:after {
        bottom: -4.75em;
        left: 0;
    }

    .wrapper .inner {
        padding: 3em 3em 1em 3em ;
        width: 100%;
    }

    .wrapper.spotlight .image {
        margin: 0 2em 2em 0;
        width: 32em;
    }

    .wrapper.spotlight:nth-child(2n - 1) .image {
        margin: 0 0 2em 2em;
    }

}

@media screen and (max-width: 736px) {

    .wrapper {
        margin: 2.5em 0;
    }

    .wrapper:before, .wrapper:after {
        height: 2.5em;
    }

    .wrapper:before {
        top: -2.5em;
    }

    .wrapper:after {
        bottom: -2.5em;
        left: 0;
    }

    .wrapper .inner {
        padding: 2em 2em 0.1em 2em ;
    }

    .wrapper.spotlight .inner {
        -moz-align-items: -moz-flex-start;
        -webkit-align-items: -webkit-flex-start;
        -ms-align-items: -ms-flex-start;
        align-items: flex-start;
    }

    .wrapper.spotlight .image {
        width: 19em;
        margin: 0 1.75em 2em 0;
    }

    .wrapper.spotlight:nth-child(2n - 1) .image {
        margin: 0 0 2em 1.75em;
    }

}

@media screen and (max-width: 640px) {

    .wrapper.spotlight .inner {
        display: block;

    }

    .wrapper.spotlight .image {
        margin: 0 0 1em 0 !important;
        max-width: 85%;
        width: 12em;
    }

}

@media screen and (max-width: 360px) {

    .wrapper .inner {
        padding: 2em 1.5em 0.1em 1.5em ;
    }

}

/* Footer */

#footer .inner {
    padding: 5em 0 3em 0 ;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 55em;
}

#footer .inner > * {
    width: 100%;
} 

#footer .inner .copyright {
    border-top: solid 2px rgba(255, 255, 255, 0.125);
    list-style: none;
    margin: 4em 0 2em 0;
    padding: 2em 0 0 0;
    width: 100%;
}

#footer .inner .copyright {
    border-left: solid 2px rgba(255, 255, 255, 0.125);
    color: rgba(255, 255, 255, 0.35);
    display: inline-block;
    font-size: 0.9em;
    line-height: 1;
    margin-left: 1em;
    padding: 0;
    padding-left: 1em;
}

#footer .inner .copyright {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer .inner .copyright {
    color: inherit;
}

@media screen and (max-width: 1280px) {

    #footer {
        background-image: url("../../images/Dopelion.jpg") !important;
        background-size: auto, cover;
        background-position: center, center;
        margin-top: -6.5em;
        padding-top: 6.5em;
    }

}

@media screen and (max-width: 980px) {

    #footer {
        margin-top: -4.75em;
        padding-top: 4.75em;
    }

    #footer .inner {
        padding: 3em 3em 1em 3em ;
        display: block;
        width: 100%;
    } 

    #footer .inner .copyright {
        margin: 4em 0 2em 0;
    }

}

@media screen and (max-width: 736px) {

    #footer {
        margin-top: -2.5em;
        padding-top: 2.5em;
    }

    #footer .inner {
        padding: 2em 2em 0.1em 2em ;
    } 

}

@media screen and (max-width: 640px) {

    #footer .inner .copyright li {
        border-left: 0;
        display: block;
        margin: 1em 0 0 0;
        padding-left: 50px;
    }

    #footer .inner .copyright  {
        margin-top: 0;
        margin-left: 50px;
    }

}

@media screen and (max-width: 360px) {

    #footer .inner {
        padding: 2em 1.5em 0.1em 1.5em ;
    }

}
 