//task posts\\

.task-post{
    margin-bottom: 60px;
}
.task-post-title{
    margin-bottom: 5px;
    font-size: 40px;
}
.task-post-meta{
    margin-bottom: 20px;
    color: #e040fb;
   font-family: Raleway, Helvetica, sans-serif; 
}
#notdone{
    background-color: #0091ea;
}
#done{
    background-color: #ab47bc;
} 

.doneTask{
    
}

.deleteTask{
    
}

.white-out-task{
    
}
 
.white-in-task{
    
}