<html>
    <head>
        
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/main.css">
          <link type="text/css" rel="stylesheet" href="css/Todo.css">
        <link type="text/css" rel="stylesheet" href="css/materialize.css">

            <!-- Menu -->
            <nav id="menu"> 
                <div class="inner">
                    <h2>Menu</h2>
                    <ul class="links">
                        <li><a href="index_1.html">Home</a></li>
                        <li><a href="login.html">Log In</a></li> 
                        <li><a href="add todo list.html">Add task</a></li> 
                    </ul> 
                </div>
            </nav>

            <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <div class="logo"><span class="icon fa-diamond"></span></div>
                    <h2>Welcome to Sydnie's To Do List</h2> 
                    
                     <div class="col s12 main-container">
                        
                    </div>
                </div>
            </section> 

            
             <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                    <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
                    <script type="text/javascript" src="libs/backendless.js"></script> 
                 
                    <script type="text/javascript" src="js/Main Page.js"></script>
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script> 
                    <script src="js/jquery.min.js"></script> 
                    <script src="js/jquery.scrollex.min.js"></script>
                    <script src="js/extra.js"></script>
                    <!--[if lte IE 8]><script src="js/respond.min.js"></script><![endif]-->
                 <script type="text/javascript" src="js/materialize.min.js"></script>
                    <script src="js/extra1.js"></script> 
                    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
                    <script>tinymce.init({ selector:'textarea' });</script>
            
                    <script id="check-done-template" type="text/x-handlebars-teamplate" >
                        <div class="white-text">
                        <h4 class="task-post-meta"> This Task has been completed</h4>
                        <button class="btn btn-small waves effect waves-light white-in-task white-text"><a href="index_1.html" class="white-text"> Uncheck</a></button>
                        </div> 
                        
                        </script>
            
            

        <script id="tasks-template" type="text/x-handlebars-template">
            {{#each posts}}
            {{#if complete}} 
            <div class="task-post" id="done">
            <p class="right-align">
            <i class="material-icons doneTask" type="submit" name="action" data={{objectId}}>done</i>
            <i class="material-icons deleteTask" type="submit" name="action" data={{objecctId}}>delete</i>
            </p>
            <p class="task-post-meta">created {{format created}}</p>
            <div>{{{content}}}</div>
            </div>
    {{else}}
    <div class="task-post" id="notcomplete"> 
            <p class="right-align">
            <i class="material-icons doneTask" type="submit" name="action" data={{objectId}}>done</i>
            <i class="material-icons deleteTask" type="submit" name="action" data={{objectId}}>delete</i>
            </p>
            <p class="task-post-meta">created {{format created}}</p>
            <div>{{{content}}}</div>
            </div>
    {{/if}}
            {{/each}} 
        </script>
    </body>
    <!--{{#if posts}}
            <div class="task-post" id="done">
            {{#else}}
    {{/if}}-->
</html>