<html>
    <head>
        
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/main.css">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"> 

            <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <div class="logo"><span class="icon fa-diamond"></span></div> 
                    
                    <div class="col s12 main-container">
                         <!-- Menu -->
            <nav id="menu">
                <div class="inner">
                    <h2>Menu</h2>
                    <ul class="links">
                        <li><a href="index_1.html">Home</a></li>
                        <li><a href="login.html">Log In</a></li> 
                        <li><a href="add todo list.html">Add task</a></li> 
                    </ul>
                
                </div>
            </nav>
                    </div>
                </div>
            </section> 

     <footer id="footer">
                        <div class="inner">
                            <div class="copyright">
                                C 2016 Sydnie McDonald 
                            </div>
                        </div>
                    </footer>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                    <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
                    <script type="text/javascript" src="libs/backendless.js"></script> 
                    <script type="text/javascript" src="js/login.js"></script>
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script> 
                    <script src="js/jquery.min.js"></script> 
                    <script src="js/jquery.scrollex.min.js"></script>
                    <script src="js/extra.js"></script>
                    <!--[if lte IE 8]><script src="js/respond.min.js"></script><![endif]-->
                   <script type="text/javascript" src="js/materialize.js"></script>
                   <script type="text/javascript" src="js/materialize.min.js"></script>
                    <script src="js/extra1.js"></script> 
                    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
                    <script>tinymce.init({ selector:'textarea' });</script>

        <script id="login-template" type="text/x-handlebars-template">
            <div class="col s6">
            <h2 class="conter-align"></h2>
            <div>
            <form class="col s12 form-signin">
            <div class="row">
            <div class="input-field col s12">
            <input id="email" type="text" name="email" class="validate">
            <label for="name">username</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">password</label>
            </div>
            </div>
            <div class="row">
            <div class="col s12">
            <p class="right-align">
            <button class="btn btn-large waves-effect waves-light" type="submit" name="action">login</button>                      
            </p>
            </div>
            </div>
            </form>
            </div>
            </div>
        </script> 
         
        <script id="welcome-template" type="text/x-handlebars-template">
            <h2>Welcome, {{name}}</h2> 
            <button class="btn btn-large waves-effect waves-light add-task" type="submit" name="action">Add a new To Do</button>
            <button class="btn btn-large waves-effect waves-light logout" type="submit" name="action">Logout</button>
        </script>
        
        
        <script id="add-task-template" type="text/x-handlebars-template">
            <h2>Add a new To Do</h2>
            <div class="row">
            <form class="col s12 form-add-task"><div class="row">
            <div class="input-field col s12">
              ADD NEW TASK
            <textarea id="content" name="contecnt" class="materailize-textarea">
            </textarea>
            <label for="content"></label>
            </div>
            </div> <div class="row">
            <div class="col s12">
            <p class="right-align">
            <button class="btn btn-large waves-effect waves-light" type="submit"name="action">Submit</button>
            </p>
            </div>
            </div>
            </form>
            </div>
        </script>
    </body>
</html>